* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c1d3fe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 98vw;
  height: 15vh;
  text-transform: uppercase;
}

h1 {
  margin-left: 22%;
  padding: 8px;
  color: #073b4c;
}

.nav {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav a {
  text-decoration: none;
  color: #118ab2;
  font-size: 1.2em;
}
.nav a:hover {
  color: #013a63;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  header {
    width: 98vw;
    height: 25vh;
  }
  h1 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 5%;
  }
  .nav {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav a {
    font-size: 14px;
  }
}
